CONFIG_POWER_SWITCH_WIFI_SSID="WH-iot"
CONFIG_POWER_SWITCH_WIFI_PASSWORD="wh213215"
CONFIG_POWER_SWITCH_UDP_PORT=44444
CONFIG_POWER_SWITCH_RESET_GPIO=18
CONFIG_POWER_SWITCH_BOOT_GPIO=19
CONFIG_POWER_SWITCH_CONTROL_GPIO_OPEN_DRAIN=n
CONFIG_POWER_SWITCH_CONTROL_GPIO_ASSERT_LEVEL=1
CONFIG_POWER_SWITCH_STATUS_LED_ENABLE=y
CONFIG_POWER_SWITCH_STATUS_LED_GPIO=48
CONFIG_POWER_SWITCH_MIN_PULSE_MS=50
CONFIG_POWER_SWITCH_MAX_PULSE_MS=10000
CONFIG_POWER_SWITCH_DEFAULT_RESET_MS=300
CONFIG_POWER_SWITCH_DEFAULT_BOOT_HOLD_MS=1500
